@import '../../../../variables.scss';



.logout-padding {
    padding: 54px .9% 0 11px;
}

.anchor-css:hover {
    text-decoration: underline !important;
}

.logout-text-container {
    padding-left: 30px;
    margin-top: 47.3px;
    text-align: left;
}
