<div class="main-content-wrapper">
    <!--<div class="page-header" style="margin-left: 10px;overflow:auto;">
        <span><h2>Modules -</h2></span>
    </div>-->
    <!--<h2 style="margin-top: 30px;">Modules <span class="badge badge-secondary"> Introduction</span></h2>-->
    <div class="row action-card-row" style="overflow:auto;max-height:calc(100vh - 105px);">
        <div class="col-sm-4 col-class" *ngFor="let actionCard of actionCardList;">
            <div class="actioncard-content">
                <app-action-card [action-card]="actionCard"></app-action-card>
            </div>
        </div>

        <!--<div class="referrercontainer" style="margin-top: 6px;">
            <div class="alert alert-primary">
                <div class="row"><div class="col-sm-6"><ion-icon name="mail-unread-outline" class="iconsize-medium handcursor icon-vertical-align-bottom"></ion-icon><span class="font-weight-bold">Incoming Messages</span></div></div>
                <div class="row">
                    <div class="col-sm-12">A description list is perfect for defining terms.</div>
                </div>
            </div>
            <div class="alert alert-secondary">
                <div class="row paddingtop"><div class="col-sm-6"><span class="font-weight-bold"><ion-icon name="people-outline" class="iconsize-medium handcursor icon-vertical-align-bottom"></ion-icon> Referrer Maintenance</span></div></div>
                <div class="row">
                    <div class="col-sm-12">A description list is perfect for defining terms.</div>
                </div>
            </div>
            <div class="alert alert-success">
                <div class="row paddingtop"><div class="col-sm-6"><span class="font-weight-bold"><ion-icon name="mail-open-outline" class="iconsize-medium handcursor icon-vertical-align-bottom"></ion-icon> Patient Referral Processed Messages</span></div></div>
                <div class="row">
                    <div class="col-sm-12">A description list is perfect for defining terms.</div>
                </div>
            </div>
            <div class="alert alert-danger">
                <div class="row paddingtop"><div class="col-sm-6"><span class="font-weight-bold"><ion-icon name="medkit-outline" class="iconsize-medium handcursor icon-vertical-align-bottom"></ion-icon> Cilnic Mapping</span></div></div>
                <div class="row">
                    <div class="col-sm-12">A description list is perfect for defining terms.</div>
                </div>
            </div>
            <div class="alert alert-warning">
                <div class="row paddingtop"><div class="col-sm-6"><span class="font-weight-bold"><ion-icon name="cloud-upload-outline" class="iconsize-medium handcursor icon-vertical-align-bottom"></ion-icon> POC's Sent For Approval</span></div></div>
                <div class="row">
                    <div class="col-sm-12">A description list is perfect for defining terms.</div>
                </div>
            </div>
            <div class="alert alert-info">
                <div class="row paddingtop"><div class="col-sm-6"><span class="font-weight-bold"><ion-icon name="checkmark-circle-outline" class="iconsize-medium handcursor icon-vertical-align-bottom"></ion-icon> POC's Processed</span></div></div>
                <div class="row">
                    <div class="col-sm-12">A description list is perfect for defining terms.</div>
                </div>
            </div>

        </div>-->
        <!--<dt class="col-sm-3"><ion-icon name="people-outline"></ion-icon> Referrer Maintenance</dt>
        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

        <dt class="col-sm-3"><ion-icon name="mail-open-outline"></ion-icon> Patient Referral Processed Messages</dt>
        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

        <dt class="col-sm-3"><ion-icon name="medkit-outline"></ion-icon> Cilnic Mapping</dt>
        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

        <dt class="col-sm-3"><ion-icon name="cloud-upload-outline"></ion-icon> POC's Sent For Approval</dt>
        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

        <dt class="col-sm-3"><ion-icon name="checkmark-circle-outline"></ion-icon> POC's Processed</dt>
        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>-->




    </div>
</div>
