<form #runPricesForm="ngForm">
    <div class="main-content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 figtofdd-header-text page-header">
                        <a routerLink="/actions">
                            <span class="back-icon"><mat-icon>keyboard_arrow_left</mat-icon></span>
                            <span>Run Prices</span>
                        </a>
                    </div>
                </div>

                <div class="row form-control-div margin-top-15">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <mat-form-field class="example-full-width">
                            <mat-label>FIG Cycle</mat-label>
                            <mat-select [(ngModel)]="figRunPricesDetails.FigCycle" name="figCycle" #figCycle="ngModel" [required]="true">
                                <mat-option *ngFor="let figCycle of figRunPricesDropdowns" [value]="figCycle.FigCycle">
                                    {{figCycle.FigCycle}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="figCycle.hasError('required')">
                                Project Type is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="button-div">
                            <button mat-button class="primary-button-2" (click)="executeButtonClicked()">Execute</button>
                        </div>
                    </div>

                </div>

                <div class="row form-control-div margin-top-15">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <span> Please Note: Once EXECUTED the RUN will overwrite data. </span>
                    </div>
                </div>

                <div class="row form-control-div margin-top-15">
                    
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="loader-wrap" *ngIf="loadingData">
        <mat-spinner [diameter]="70"></mat-spinner>
    </div>
