<div mat-dialog-container>
    <div class="personalization-header-div">
        Referrer Details

        <button mat-button class="float-right close-button" (click)="closeDialog()" tabindex="-1" style="margin-top: -6px;">
            <span style="font-size:25px;">&times;</span>
        </button>
    </div>
 
    <form #alloDataForm="ngForm">
        <div class="personalization-tab-div">
            <!--<mat-tab-group class="personalization-tab-group" [@.disabled]="true">

            <mat-tab label="Admin Tab" #spendPoolHigh class="spend-pool-high-tab">-->
            <div class="row personalization-rows">
                <div class="float-right createreferrer">
                    <!--  <button mat-button class="primary-button-2" (click)="AddRowReferrerModal()">Add Email</button>-->

                </div>
            </div>
            <div style="height:244px;overflow-y:auto;width:100%;overflow-x: hidden;">

                <div class="row personalization-rows" *ngFor="let defaultValue of defaultValues; let i = index">
                    <div class="col-sm-5">
                        <mat-form-field class="example-full-width long-field full-width" *ngIf="i==0">
                            <input matInput placeholder="Institute Name" required name="Institute_NameInput" [(ngModel)]="defaultValue.Institute_Name"
                                   #Institute_NameInput="ngModel" maxlength="60">

                            <mat-error *ngIf="Institute_NameInput.hasError('required')">
                                Institute Name is required.
                            </mat-error>


                        </mat-form-field>

                    </div>
                    <div [ngClass]="i!=0?'col-sm-5':'col-sm-5'">
                        <mat-form-field class="example-full-width long-field full-width">
                            <input matInput placeholder="Email Address" required name="DT_Email_AddressInput{{i}}" [(ngModel)]="defaultValue.DT_Email_Address" email
                                   #DT_Email_AddressInput="ngModel" maxlength="60">

                            <mat-error *ngIf="DT_Email_AddressInput.hasError('required') || DT_Email_AddressInput.errors?.email">
                                Invalid Email Address.
                            </mat-error>


                        </mat-form-field>

                    </div>
                    <div [ngClass]="i!=0?'col-sm-2':'col-sm-2'">
                        <!--<button mat-button class="primary-button-2" *ngIf="i==0">
                        <span fxFlexFill href="" matTooltip="Add" [matTooltipClass]="{'sidebar-tooltip': true}" (click)="AddRowReferrerModal()"
                              class="mat-row-link icon-add-line table-action-icons">
                        </span>
                        </button>-->
                        <!--<button mat-button class="primary-button-2" >-->
                        <span style="vertical-align:bottom;"
                              fxFlexFill href="" matTooltip="Add" [matTooltipClass]="{'sidebar-tooltip': true}" (click)="AddRowReferrerModal()" *ngIf="i==defaultValues.length-1"
                              class="mat-row-link icon-create-project table-action-icons">
                        </span>
                        <!--</button>-->
                        <!--<button mat-button class="primary-button-2" >-->
                        <span style="vertical-align:bottom;"
                              fxFlexFill href="" matTooltip="Delete" [matTooltipClass]="{'sidebar-tooltip': true}" (click)="DeleteRowReferrerModal(i)" *ngIf="i!=0"
                              class="mat-row-link icon-delete table-action-icons">
                        </span>

                        <!--</button>-->
                    </div>
                </div>

            </div>
            <hr />
            <div class="row personalization-rows">
                <div class="col-sm-12">
                    <div class="float-right">
                        <!--<button mat-button class="primary-button-2" (click)="AddRowReferrerModal()">
                            <span fxFlexFill href="" matTooltip="Add" [matTooltipClass]="{'sidebar-tooltip': true}"
                                  class="mat-row-link icon-add-line table-action-icons">
                            </span>
                        </button>-->
                        <button class="btn btn-primary"  *ngIf="defaultValues[0].RefID==undefined" (click)="saveDetails()">SAVE</button>
                        <button class="btn btn-primary"  *ngIf="defaultValues[0].RefID!=undefined" (click)="updateDetails()">UPDATE</button>
                    </div>
                </div>
            </div>
            <!--</mat-tab>
            </mat-tab-group>-->
        </div>
    </form>
</div>

<div class="loader-wrap" *ngIf="loadingData">
  <mat-spinner [diameter]="70"></mat-spinner>
</div>
