<div class="main-content-wrapper">
    <!--<div class="page-header" style="margin-left: 10px;">
        <span>Referral Page</span>
    </div>-->
    <div class="row action-card-row" style="overflow:auto;">
        <div class="col-sm-6">
            <div class="page-header">
                <span>WIP Messages</span>
            </div>
        </div>
        <div class="col-sm-6">
            <!--<div class="float-right createreferrer">
                <button mat-button class="primary-button-2" (click)="OpenCreateReferrerModal()">Create Referrer</button>

            </div>-->
        </div>
    </div>

    <div class="row action-card-row" style="overflow:auto;max-height:calc(100vh - 105px);">
        <div class="pagewidth">

            <mat-tab-group class="personalization-tab-group" [@.disabled]="true">
                <mat-tab label="Match Not Found" #spendPoolHigh class="spend-pool-high-tab">
                    <div class="referrercontainer">
                        <table mat-table [dataSource]="angularDataSource">
                            <!-- Position Column -->
                            <ng-container matColumnDef="FirstName">
                                <th mat-header-cell *matHeaderCellDef>
                                    First Name

                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="LastName">
                                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="City">
                                <th mat-header-cell *matHeaderCellDef> City </th>
                                <td mat-cell *matCellDef="let element"> {{element.City}} </td>
                            </ng-container>
                            <ng-container matColumnDef="State">
                                <th mat-header-cell *matHeaderCellDef> State</th>
                                <td mat-cell *matCellDef="let element"> {{element.State}} </td>
                            </ng-container>
                            <ng-container matColumnDef="DOB">
                                <th mat-header-cell *matHeaderCellDef> DOB</th>
                                <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ReceptionistComments">
                                <th mat-header-cell *matHeaderCellDef> Receptionist Comments</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReceptionistComments}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Actions" sticky>
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element;let i = index;">
                                    <!-- <a fxFlexFill href="" class="mat-row-link" (click)="!!getPersonalizationDetails()">EDIT</a> -->
                                    <button mat-button [matMenuTriggerFor]="menu">
                                        <span fxFlexFill href="" matTooltip="Setting" [matTooltipClass]="{'sidebar-tooltip': true}"
                                              class="mat-row-link icon-copy table-action-icons">
                                        </span>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <!--<button mat-menu-item (click)="!!getReferrerDetail(element.RefID)">Item 1</button>-->
                                        <span style="display:block">
                                            <a fxFlexFill href="" matTooltip="Accept" [matTooltipClass]="{'sidebar-tooltip': true}"
                                               class="mat-row-link icon-copy table-action-icons"
                                               (click)="!!CreatePatient(element.ID)">
                                                Accept
                                            </a>
                                        </span>
                                        <span style="display:block">
                                            <a fxFlexFill href="" matTooltip="Reject" [matTooltipClass]="{'sidebar-tooltip': true}"
                                               class="mat-row-link icon-delete table-action-icons"
                                               (click)="!!RejectPatient(element.ID)">
                                                Reject
                                            </a>
                                        </span>
                                        <!--<button mat-menu-item (click)="!!deleteDetails(element.RefID,element.RefEmailID)">Item 2</button>-->
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-toolbar *ngIf="noRecordsMessage1 != ''" class="no-records-message"> {{ noRecordsMessage1 }} </mat-toolbar>
                    </div>
                    <mat-paginator *ngIf="dtwipPatients?.TotalRecords > 0"
                                   [length]="dtwipPatients?.TotalRecords"
                                   [pageIndex]="dtwipPatients?.CurrentPage"
                                   [pageSize]="dtwipPatients?.PageSize"
                                   [pageSizeOptions]="pageSizeOptions"
                                   (page)="pageEvent = getPaginationData($event);"
                                   showFirstLastButtons>
                    </mat-paginator>
                </mat-tab>
                <mat-tab label="Match Found" #spendPoolHigh class="spend-pool-high-tab">
                    <div class="referrercontainer">
                        <table mat-table [dataSource]="angularDataSourcefound">
                            <!-- Position Column -->
                            <ng-container matColumnDef="FirstName">
                                <th mat-header-cell *matHeaderCellDef>
                                    First Name

                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="LastName">
                                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="City">
                                <th mat-header-cell *matHeaderCellDef> City </th>
                                <td mat-cell *matCellDef="let element"> {{element.City}} </td>
                            </ng-container>
                            <ng-container matColumnDef="State">
                                <th mat-header-cell *matHeaderCellDef> State</th>
                                <td mat-cell *matCellDef="let element"> {{element.State}} </td>
                            </ng-container>
                            <ng-container matColumnDef="DOB">
                                <th mat-header-cell *matHeaderCellDef> DOB</th>
                                <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ReceptionistComments">
                                <th mat-header-cell *matHeaderCellDef> Receptionist Comments</th>
                                <td mat-cell *matCellDef="let element"> {{element.ReceptionistComments}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Actions" sticky>
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element;let i = index;">
                                    <!-- <a fxFlexFill href="" class="mat-row-link" (click)="!!getPersonalizationDetails()">EDIT</a> -->
                                    <button mat-button [matMenuTriggerFor]="menu">
                                        <span fxFlexFill href="" matTooltip="Setting" [matTooltipClass]="{'sidebar-tooltip': true}"
                                              class="mat-row-link icon-copy table-action-icons">
                                        </span>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <!--<button mat-menu-item (click)="!!getReferrerDetail(element.RefID)">Item 1</button>-->
                                        <span style="display:block">
                                            <a fxFlexFill href="" matTooltip="Create" [matTooltipClass]="{'sidebar-tooltip': true}"
                                               class="mat-row-link icon-copy table-action-icons"
                                               (click)="!!CreatePatient(element.ID)">
                                                Create
                                            </a>
                                        </span>
                                        <span style="display:block">
                                            <a fxFlexFill href="" matTooltip="Import" [matTooltipClass]="{'sidebar-tooltip': true}"
                                               class="mat-row-link icon-add-line table-action-icons"
                                               (click)="!!ImportPatient(element.ID)">
                                                Import
                                            </a>
                                        </span>
                                        <!--<button mat-menu-item (click)="!!deleteDetails(element.RefID,element.RefEmailID)">Item 2</button>-->
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                        <mat-toolbar *ngIf="noRecordsMessage2 != ''" class="no-records-message"> {{ noRecordsMessage2 }} </mat-toolbar>
                    </div>
                    <mat-paginator *ngIf="dtwipPatientsFound?.TotalRecords > 0"
                                   [length]="dtwipPatientsFound?.TotalRecords"
                                   [pageIndex]="dtwipPatientsFound?.CurrentPage"
                                   [pageSize]="dtwipPatientsFound?.PageSize"
                                   [pageSizeOptions]="pageSizeOptions"
                                   (page)="pageEvent = getPaginationDataFound($event);"
                                   showFirstLastButtons>
                    </mat-paginator>
                </mat-tab>

            </mat-tab-group>
        </div>

        </div>
    </div>
<div class="loader-wrap" *ngIf="loadingData">
    <mat-spinner [diameter]="70"></mat-spinner>
</div>
