<!--<div class="row footer">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-8 col-lg-10 text-center">
        <p class="interTxt">
          For internal use only
        </p>
        <p class="copyTxt">
          Copyright &copy; 2019 Procter &amp; Gamble. All rights reserved.
        </p>
      </div>
      <div class="col-sm-4 col-lg-2 text-right foot-right">
        <a class="txt-bold" href="https://pgone.sharepoint.com/sites/PrivacyCentral/Pages/employeepolicy.aspx" target="blank">
          P&amp;G Employee Privacy Policy
        </a>
      </div>
    </div>

  </div>
</div>-->

<section class="vc-footer">

  <div class="leftFContent">
    <p class="interTxt txt-bold">
      For internal use only
    </p>
    <p class="copyTxt">
      Copyright &copy; {{ currentYear }} Procter &amp; Gamble. All rights reserved.
    </p>
  </div>
  <div class="rightFContent">
    <a class="vc-foot-left txt-bold" href="https://pgone.sharepoint.com/sites/PrivacyCentral/Pages/employeepolicy.aspx" target="blank">
      P&amp;G Employee Privacy Policy
    </a>
  </div>
</section>
