<div class="main-content-wrapper">
    <!--<div class="page-header" style="margin-left: 10px;">
        <span>Referral Page</span>
    </div>-->
    <div class="row action-card-row" style="overflow:auto;">
        <div class="col-sm-6">
            <div class="page-header">
                <span>Poc Sent For Approval</span>
            </div>
        </div>
        <div class="col-sm-6">
            <!--<div class="float-right createreferrer">
                <button mat-button class="primary-button-2" (click)="OpenCreateReferrerModal()">Create Referrer</button>

            </div>-->
        </div>
    </div>

    <div class="row action-card-row" style="overflow:auto;max-height:calc(100vh - 105px);">
        <div class="pagewidth">


            <div class="referrercontainer">
                <table mat-table [dataSource]="angularDataSource">
                    <!-- Position Column -->
                    <ng-container matColumnDef="From">
                        <th mat-header-cell *matHeaderCellDef>
                            From

                        </th>
                        <td mat-cell *matCellDef="let element" class="width-20-percent"> {{element.From}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="To">
                        <th mat-header-cell *matHeaderCellDef> To </th>
                        <td mat-cell *matCellDef="let element" class="width-20-percent"> {{element.To}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Subject">
                        <th mat-header-cell *matHeaderCellDef> Subject </th>
                        <td mat-cell *matCellDef="let element" class="width-40-percent"> {{element.Subject}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="Sent">
                        <th mat-header-cell *matHeaderCellDef> Sent</th>
                        <td mat-cell *matCellDef="let element" class="width-20-percent"> {{element.Sent_TimeStamp}} </td>
                    </ng-container>
                   

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="!!getMessageDetail(row,'pocsentforapproval')"
                                     [ngClass]="{hovered: row.hovered || loggedInUserDetails.Roles.trim().toLowerCase() != 'front desk',highlighted: selection.isSelected (row)}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                </table>
                <mat-toolbar *ngIf="noRecordsMessage1 != ''" class="no-records-message"> {{ noRecordsMessage1 }} </mat-toolbar>
            </div>
            <mat-paginator *ngIf="dtSentPocs?.TotalRecords > 0"
                           [length]="dtSentPocs?.TotalRecords"
                           [pageIndex]="dtSentPocs?.CurrentPage"
                           [pageSize]="dtSentPocs?.PageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="pageEvent = getPaginationData($event);"
                           showFirstLastButtons>
            </mat-paginator>

        </div>

    </div>
</div>
<div class="loader-wrap" *ngIf="loadingData">
    <mat-spinner [diameter]="70"></mat-spinner>
</div>

