// Brand Colors
$blue: #0a84ff;
$indigo: #5e5ce6;
$purple: #bf5af2;
$pink: #ff375f;
$red: #ff443a;
$orange: #ff9d0a;
$yellow: #ffd60a;
$green: #30d158;
$teal: #64d3ff;
$cyan: #26C6DA;

$gray-100: #212529;
$gray-200: #343a40;
$gray-300: #495057;
$gray-400: #868e96;
$gray-500: #adb5bd;
$gray-600: #ced4da;
$gray-500: #dee2e6;
$gray-800: #e9ecef;
$gray-900: #f8f9fa;

$body-bg: $gray-100;
$body-color: $gray-900;
